---
layout: page
title : Krystian Wojcicki
header-img: "img/home-bg.jpg"
description: "Backend Developer"
---

<!-- About Content -->
<section id="about">
	<div>
		<p>
			Hey, I am Krystian Wojcicki, a Computer Science student at Carleton University.
			I love doing deep-dives in highly technical problems, working with new up and coming 
			technology and arguing about <b>PUT</b> vs <b>POST</b> usage.
			
			</br></br>
			
			If you want to learn more about me check out my <a href="/resume/ResumeKrystianWojcicki.pdf" target="_blank">resume</a>
		</p>
	</div>
</section>

<list>
	<ul>
		<li>
			2019, the year of internships
			<ul>
				<li>
					Nokia
					<ul>

					</ul>
				</li>
				
			</ul>
		</li>
		<li>
			2018
			<ul>
				Finished up internship at Rockport and returned to school
			</ul>
		</li>
		<li>
			2017
			<ul>
				<li>Spent over a year interning at <a href="https://rockportnetworks.com/">Rockport Networks</a>, was nominated co-op of the year
				<ul>
					<li>
						Worked on a Golang microservices ranging from simple services querying Elasticsearch/Postgres to services implementing complex business logic
					</li>
					<li>
						Responsible for the authentication service utilizing LDAP + JWT
					</li>
					<li>
						Assisted with the transition to Kubernetes
					</li>
				</ul>
				</li>
				<li>
					Participated and won the <a href="https://carleton.ca/scs/cu-events/codeguru/">Junior Carleton Codeguru Contest</a>,
					went and competed with the Carleton team at the ICPC North Eastern Qualifiers.
				</li>
				<li>Participated in the first ever CUHacking developing an app called Pay Up, utilized Google Cloud OCR to assist in the sharing of bills</li>
			</ul>
		</li>
		<li>
		2016
		<ul>
			<li>
				Spent several months working part time at Authentiky.
				<ul>
					<li>Built several PoC around XMPP servers and client side libraries</li>
					<li>Deployed PoC's to Amazon EC2</li>
				</ul>
			</li>
			<li>
				4 month internship at <a href="https://www.crunchbase.com/organization/sidense">Sidense</a> (Now Synopsys)
				<ul>
					<li>Developed software to assist the company in receiving its ISO 9001 Certification</li>
					<li>Initial exposure to MVC, Postgres and Business Process Management Tools</li>
				</ul>
			</li>
		</ul>
		</li>
		<li>
			2015
			<ul>
				<li>Started Attending <a href="https://carleton.ca/">Carleton University</a> for Computer Science</li>
			</ul>
		</li>
	</ul>
</list>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2>Showcase</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						Category: {{ item.category }}
					</div>
				</div>
				<img src="{{ item.image }}" class="img-responsive" alt="">
			</a>
		</div>
		{% endfor %}
	</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
								<img src="{{ item.image }}" class="img-responsive img-centered" alt="">
								<p>{{ item.description }}</p>
								<ul class="list-inline item-details">
									<li>Team:
										<strong>{{ item.team }}
										</strong>
									</li>
									<li>Date:
										<strong>{{ item.dateReal | date: '%B %Y' }}
										</strong>
									</li>
									<li>Category:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
</section>
	
